@import url(https://db.onlinewebfonts.com/c/e7f249e71a563eed9c495835657eb9c2?family=Poetsen+One);
*{
    padding:0;
    margin:0;
    color:#fffafa;
    box-sizing: border-box;
    font-family:'Poetsen One', sans-serif;
}
body{
    background: #1E1E1E;
    overflow-x: hidden;
}
.nav-header{
    background-color: #000814;
    padding: 2vmin 2rem;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-items
{
    display: flex;
    gap:2.5rem;
    align-items: center;
}

.menu-items,a{
    font-size:1rem;
    text-decoration: none;
}
a img{
    min-width: 57px;
    height: 50px ;
    align-items: center;
}
.nav-btn{
    color:#FF9F00;
    border:1px solid #FF9F00;
    transition: 0.4s ease-in-out;
    border-radius: 5px;
    padding:12px 20px ;
}
.nav-btn:hover{
    background-color: #FF9F00;
    color:#fffafa;
    border-radius: 5px;
    padding:12px 20px ;
}
.hamburger{
    display: none;
}
.bar{
    display: block;
    width:25px;
    height: 3px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all .4s ease-in-out;
    background-color: #FF9F00;
}
/* Banner Styling */
.banner-container{
    position:relative;
    width:auto;
    min-height: 490px;
    display: flex;
    gap:320px;
    flex-direction: row;
    margin-left: 120px;
    align-items: center;
    /* background-color: red; */
}
.banner-text{
    letter-spacing: 6px;
    line-height: 60px;
}
.banner-text> h1{
    font-weight: 400;
    font-size: 2.5rem;
}
.banner-text> h2>span{
    color:#E45010;
}
.banner-text > h2{
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 3px;
}
.banner-img img{
    width:34rem;
}
.banner-btn{
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
}
.btn1-container{
    min-height: 30px;
    min-width: 120px;
    color: #fffafa;
    background-color:  #008119;
    padding: 0.8rem;
    text-align: center;
    border-radius: 7px;
}
.btn2-container{
    min-height: 30px;
    min-width: 120px;
    color: #fffafa;
    border: 2px solid #008119;
    padding: 0.8rem;
    text-align: center;
    border-radius: 7px;
}
.main-ban-con{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    min-width: 460px;
    min-height: 400px;
    gap: 23px;
    padding: 1rem 2rem;

}
.banner-icons{
    display: flex;
    flex-direction: row;
    gap: 2.3rem;
    flex-wrap: wrap;
}
.banner-icons> div{
    font-size: 1.4rem;
    background-color:#FF4081 ;
    padding:10px 12px;
    border-radius: 50%;
}


/* .banner-image > .traingle{
    position: absolute;
    top:50px;
    right:-105px;
    width:0;
    height: 0;
    border: 250px solid transparent;
    border-top: 0;
    border-bottom: 700px solid rgb(47, 164, 238);
    transform: rotate(120deg);
    border-radius: 5px;
} */
.img_move{
    width: 110px;
    height: 120px;
    position: absolute;
}
.image1{
    top:0px;
    left:-57px;
    animation: wifi-anim 2.5s ease-in infinite;
}
.image2{
    top:10px;
    right:-26px;
    animation: msg-anim 2.2s ease-in infinite;
}
.image3{
    top:40vh;
    left: 37vw;
    animation: heart-anim 2.1s ease-in infinite;
}
.image4{
    bottom: 0vh;
    left: -6vw;
    animation: code-anim 2.4s ease-in infinite;
}
.image5{
    top: 1vh;
    left: 43vw;
    animation: cap-anim 2.4s ease-in infinite;
}
@keyframes wifi-anim {
    0%,20%,50%,80%,100%{
        transform: translate(0);
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-15px);
    }
}
@keyframes msg-anim {
    0%,20%,50%,80%,100%{
        transform: translate(0);
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-15px);
    }
}
@keyframes heart-anim {
    0%,20%,50%,80%,100%{
        transform: translate(0);
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-15px);
    }
}
@keyframes code-anim {
    0%,20%,50%,80%,100%{
        transform: translate(0);
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-15px);
    }
}
@keyframes cap-anim {
    0%,20%,50%,80%,100%{
        transform: translate(0);
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-15px);
    }
}
/* About me  */

.about-container{
    position: relative;
    background-color: #2D2D2D;
    padding-top: 1rem;
    font-weight: 400;
    height: 515px;
}
.about-container > .title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title{
    margin-top:10px;
}
.title>h1{
    margin-top: 0.2rem;
    font-weight: 100;
    font-size: 25px;

}
.title>h1>span{
    color: #FF4081;
}
.title>img{
    width: 40px;
    height: 40px;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7rem;
    margin-top: 58px;
}
.flex-container>img{
    width: 220px;
    height: 330px;
    border-radius: 10px;
}

.about-content>.data>h1{
    font-size:18px;
    letter-spacing: 2px;
}
.about-content>.data>p{
    max-width:260px;
    font-size: 10px;
    line-height: 1.4rem;
    letter-spacing: 1px;
}
.about-content>.data>h1>span {
    color:#FF4081;
}
.about-content>.data>#role {
    color:#FF4081;
    font-size:9px;
    font-weight: 300;
}
.about-content>.data>h2>span{
    color:#FF4081;
    font-weight: 300;
}
.about-content>.data>h2{
    font-size:10px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.3rem;
}
.about-btn{
    padding: 16px 20px;
    width: 125px;
    text-align: center;
    color: #fffafa;
    background-color: rgb(255, 64, 129);
    box-shadow: rgba(255, 64, 129, 0.56) 0px 22px 70px 4px;
    border-radius: 6px;
    margin-top: 1rem;
}
.about-btn a{
    font-size: .9rem;
}
#curved-arrow{
    width: 100px;
    height: 102px;
    rotate: 310deg;
    position: absolute;
    left: 50vw;
    top: 44px;
}
.circle{
    position: absolute;
    content:"";
    width:25px;
    height:20px;
    border-radius: 50%;
    background-color:#E45010;
}
.circle1{
    top:50px;
    left:350px;
}
.circle2{
    top:160px;
    right:250px;
}

.circle3{
    bottom:50px;
    left:150px;
}
.big-circle{
    position: absolute;
    top:-10px;
    right:-60px;
    border-radius: 50%;
    width:150px;
    height:100px;
    background-color: #77EC4E;
}
/* Skills */

.skills-container{
    position: relative;
    max-width:100%;
    height: 500px;
    display: flex;
    align-items:center; ;
    flex-direction: column;
}
.skills-container>.sk-title{
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    justify-content: center;
    gap: 0.5rem;
}
.sk-title>img{
    width: 37px;
    height: 37px;
}
.sk-title>h1{
    margin-top:0.5rem;
    font-weight: 100;
    font-size: 25px;
}
.sk-parent {
    position: relative;
    top: -150px;
    /* border: 3px solid red; */
    height: 350px;
    width: 350px;
    border-radius: 50%;
    animation: rotate-circle 30s linear infinite;
}
 /* .plant{
    animation: maintain 30s linear infinite;
} */
@keyframes maintain {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotate-circle{
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg);
    }
}
@keyframes scale {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
.sk-men-lap #men-lap{
    position: relative;
    top: 106px;
    left: 100px;
    animation:up-down ;
    animation-duration:1s; 
    animation-direction: alternate; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
}
@keyframes up-down {
    from { 
        transform: translate3d(0, 0, 0); 
        transform: translate3d(0, 0, 0); 
    } 
    to { 
        transform: translate3d(0, 50px, 0); 
        transform: translate3d(0, 50px, 0); 
    } 
}
.sk-parent #i1{
    position: absolute;
    left: 11px;
    top: 245px;
    animation: maintain 30s linear infinite;
    animation:scale 1s linear infinite alternate;
}
.sk-parent #i2{
    position: absolute;
    top: 179px;
    left: -15px;

    animation: scale 1s linear infinite alternate;
}
.sk-parent #i3{
    position: absolute;
    top: 96px;
    left: -5px;

    animation: scale 1s linear infinite alternate;
}
.sk-parent #i4{
    position: absolute;
    top: 30px;
    left: 29px;

    animation: scale 1s linear infinite alternate;
}
.sk-parent #i5{
    position: absolute;
    top: -5px;
    left: 100px;

    animation: scale 1s linear infinite alternate;
}
.sk-parent #i6{
    position: absolute;
    top: -11px;
    right: 123px;

    animation: scale 1s linear infinite alternate;
}
.sk-parent #i7{
    position: absolute;
    top: 20px;
    right: 42px;

    animation: scale 1s linear infinite alternate;
}
.sk-parent #i8{
    position: absolute;
    top: 83px;
    right: 0px;
    animation: maintain 30s linear infinite;
    animation: scale 1s linear infinite alternate;
}
.sk-parent #i9{
    position: absolute;
    top: 188px;
    left: 329px;
  
    animation: scale 1s linear infinite alternate;
}
.sk-parent #i10{
    position: absolute;
    top: 278px;
    left: 284px;

    animation: scale 1s linear infinite alternate;
}
.sk-parent #i11{
    position: absolute;
    top: 306px;
    left: 70px;
  
    animation: scale 1s linear infinite alternate;
}
.sk-parent #i12{
    position: absolute;
    top: 323px;
    left: 176px;
    animation: scale 1s linear infinite alternate;
}
/* Educatoin */
.education-container{
    position: relative;
    height: 1088px;
    background-color: #2D2D2D;
}
.education-container>.edu-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
.edu-title>h1{
    margin-top:1.5rem;
    font-weight: 100;
    font-size: 27px;
}
.edu-title>img{
    margin-top:1.1rem;
}
.high-school{
    position: absolute;
    background-color: #000814;
    width: 290px;
    height: 320px;
    border-radius: 10px;
    top: 270px;
    left: 120px;
    padding: 20px;
    /* display: flex;
    justify-content: center; */
}
.high-school>img{
    width: 450px;
    position: absolute;
    bottom: 222px;
    left: -107px;
}
.high-school>.content{
    position: absolute;
    top: 115px;
    left: 34px;
    line-height: 25px;
    letter-spacing: 0.5px;
}
.high-school>.content>h2{
    font-size: 25px;
    font-weight: 400;
}
.high-school>.content>h3{
    font-size: 10px;
    font-weight: 300;
    margin-top: 1rem;
}
.year-com{
    background-color: #FF4081;
    color: #fffafa;
    padding: 15px 21px;
    width: 245px;
    border-radius: 10px;
    font-size: 10px;
    display: flex;
    align-items:center;
    flex-direction: row;
    gap: 10px;
    letter-spacing: 0.5px;
}
.year-com >h2{
    font-weight: 500;
}
.year-com2 >h2{
    font-weight: 500;
}
.year-com3 >h2{
    font-weight: 500;
}
.year-com>.rec{
    content: '';
    width: 5px;
    height: 30px;
    background-color: #fffafa;
}
.move-highsl{
    position: absolute;
    top: 239px;
    left: 22px;
}
/* higher sec */
.higher-sec{
    position: absolute;
    background-color: #000814;
    width: 290px;
    height: 320px;
    border-radius: 10px;
    top: 487px;
    left: 35vw;
    padding: 20px;
    /* display: flex;
    justify-content: center; */
}
.higher-sec>img{
    width: 250px;
    position: absolute;
    top: -284px;
    left: 14px;
}
.higher-sec>.content2{
    position: absolute;
    top: 105px;
    left: 34px;
    line-height: 20px;
    letter-spacing: 0.5px;
}
.higher-sec>.content2>h2{
    font-size: 25px;
    font-weight: 400;
    line-height:27px;
}
.higher-sec>.content2>h3{
    font-size: 10px;
    font-weight: 300;
    margin-top: 1rem;
    max-width: 235px;
}
.year-com2{
    background-color: #FF4081;
    color: #fffafa;
    padding: 15px 21px;
    width: 245px;
    border-radius: 10px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 10px;
    letter-spacing: 0.5px;
}
.year-com2>.rec{
    content: '';
    width: 5px;
    height: 30px;
    background-color: #fffafa;
}
.move-highsl2{
    position: absolute;
    top: 235px;
    left: 22px;
}
/* college */
.college{
    position: absolute;
    background-color: #000814;
    width: 290px;
    height: 320px;
    border-radius: 10px;
    top: 720px;
    right: 233px;
    padding: 20px;
    /* display: flex;
    justify-content: center; */
}
.college>img{
    width: 425px;
    position: absolute;
    top: -217px;
    left: -60px;
}
.college>.content3{
    position: absolute;
    top: 88px;
    left: 34px;
    line-height: 25px;
    letter-spacing:0.5px;
}
.college>.content3>h2{
    font-size: 25px;
    font-weight: 400;
}
.college>.content3>h3{
    font-size: 10px;
    font-weight: 300;
    margin-top: 1rem;
    max-width: 200px;
}
.year-com3{
    background-color: #FF4081;
    color: #fffafa;
    padding: 15px 21px;
    width: 245px;
    border-radius: 10px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 10px;
    letter-spacing: 0.5px;
}
.year-com3>.rec{
    content: '';
    width: 5px;
    height: 30px;
    background-color: #fffafa;
}
.move-highsl3{
    position: absolute;
    top: 235px;
    left: 22px;
}

/* Certificate */

.certificate-title{
    width: 100%;
    display: flex;
    margin-top: 1.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.certificate-container{
    height: 500px;

}
.certificate-title h1{
    font-weight: 100;
    font-size: 27px;
}

.certifi1{
    background-color: #3290D8;
    max-width: 265px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
}
.certifi1>img{
    width: 235px;
    height: 145px;
    border: 4px solid #FF9F00;
    border-radius: 15px;
}
.certifi1content{
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}
.certifi1content>h1{
    font-size: 20px;
    font-weight: 600;
    color: #030303;
}
.certifi1content>h3{
    font-size: 10px;
    font-weight: 200;
    color: #030303;
}
.description{
    font-size: 11px;
    font-weight: 200;
    max-width: 230px;
    color: #030303;
}

.certifi-btn{
    max-width: 155px;
    padding: 8px 28px;
    background-color: #5B0888;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    margin-left: 30px;
}
.certifi-btn a{
    font-size: 14px;
}
.allcerti-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
/* work */

.work-container{
    /* #2d2d2d */
    height:670px;
    background-color:#2d2d2d;
}
.work-title{
    width: 100%;
    display: flex;
    margin-top: 1.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.work-title img{
    margin-top: 1.5rem;
}
.work-title h1{
    margin-top: 1.5rem;
    font-weight: 100;
    font-size: 25px;
}
.work-proj-container{
    background-color: #00E5FF;
    max-width: 310px;
    border-radius: 10px;
    display: flex;
    height: 450px;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
}
.work-proj-container:hover{
    transform: scale(1.1)
}
.work-proj-container img{
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0px 0px;
}
.work-proj-container #blood-bank{
    height: 214px;
}
.work-proj-container #net-design{
    height: 214px;
}
.work-proj-container #cyber-threat{
    height: 190px;
}
.project-parent{
    margin-top: 2.5rem;
    gap: 15px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.proj-title h1{
    color:#000814;
}
.proj-title span{
    color: #5B0888;
}
.total-content{
    min-width: 200px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.proj-content p{
    color: #000814;
}
.proj-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.view-btn{
    background-color: #5B0888;
    padding: 12px 16px;
    border-radius: 5px;
    letter-spacing: 1px;
}
.code-btn{
    background-color: #5B0888;
    padding: 12px 16px;
    border-radius: 5px;
    letter-spacing: 1px;
}
.line{
    border: 1px dashed #000814;
    margin-left: 20px;
    margin-right: 20px;
}
.project-prog{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.project-prog h2{
    color: #000814;
    font-size: 15px;
}
.project-prog div{
    padding: 5px 5px;
    font-size: 12px;
    border-radius: 5px;
    letter-spacing: 0.4px;
}
#skill1{
    background-color: #E45010;
    padding: 6px 6px;
}
#skill2{
    background-color: #0277BD;
    padding: 5px 6px;
}
#skill3{
    background-color: #d6b92c;

}
#skill4{
    background-color: #041181;
}
#int-skill1{
    background-color: #E45010;
    padding: 6px 6px;
    font-size: 12px;
    border-radius: 5px;
}
#bb-skill1{
    background-color: #E45010;
    padding: 6px 6px;
    font-size: 12px;
    border-radius: 5px;
}
#cybt-skill1{
    background-color: #009196;
    padding: 6px 6px;
    font-size: 12px;
    border-radius: 5px;
}
#cybt-skill2{
    background-color: 
    #181818;
    padding: 6px 6px;
    font-size: 12px;
    border-radius: 5px;
}
#cybt-skill3{
    background-color: #0e66d7;
    padding: 6px 6px;
    font-size: 12px;
    border-radius: 5px;
}
.proj-title h1{
    font-size: 20px;
    letter-spacing: 0.4px;
}
.proj-content p{
    font-size: 12px;
    letter-spacing: 0.4px;
}




@media only screen and (max-width:1280px) {
    nav>.hamburger{
        display: none;
    }
    .banner-container {
        min-height: 525px;
        gap:140px;
    }
    .banner-icons>div{
        padding:7px 10px;
    }
    .banner-btn{
        flex-wrap: wrap;
        gap: 0.7rem;
    }
    .menu-items{
        gap: 2rem;
    }
    .nav-header{
        min-height: 10vh;
    }
    .menu-items,a{
        font-size:0.6rem;
        text-decoration: none;
    }
    .logo>a>img{
        width: 4vw;
        height: 8vh;
    }
    .main-ban-con {
        top: 14vh;
        gap: 2rem;
        min-width: 318px;
    }
    .banner-text> h1 {
        font-size: 1.6rem;
    }
    .banner-text > h2 {
        font-size: 0.8rem;
        letter-spacing: 2.5px;
        line-height: 2rem;
    }
    .btn1-container a{
        font-size: 1.1vmax;
    }
    .btn2-container a{
        font-size: 1.1vmax;
    }
    .banner-icons {
        gap: 1.2rem;
    }

    .img_move{
        width: 90px;
        height: 90px;
        position: absolute;
    }
    .image1{
        top:41px;
        left:-60px;
    }
    .image2{
        top:30px;
        right:0px;
        animation: msg-anim 2.2s ease-in infinite;
    }
    .image4 {
        bottom: 3vh;
        left: -7vw;
        animation: code-anim 2.4s ease-in infinite;
    }
    .image3{
        top:52vh;
        left:40vw;
        animation: heart-anim 2.1s ease-in infinite;
    }
    .image5{
        top: 3px;
        left: 48vw;
    
    }
    .about-container>.title>h1{
        margin-top: 0.2rem;
        font-size: 1.4rem;
    }
    .about-container>.title>img{
        width: 35px;
        height: 30px;
    
    }
    .flex-container>img{
        margin-top: 12px;
        min-width: 210px;
        height: 290px;
    }

    #curved-arrow {
        width: 95px;
        height: 76px;
        left: 50vw;
        top: 50px;
    }
    .flex-container{
        margin-top: 58px;
    }
    .about-btn a {
        font-size: 0.8rem;
    }
    .about-content>.data>p{
        font-size: 0.6rem;
    }
    .about-content>.data>h1 {
        font-size: 1.3rem;
    }
    .about-content>.data>h2 {
        font-size: 0.6rem;
    }
    .about-content>.data>#role {
        font-size: 0.6rem;
    }
    .circle1{
        top: 62px;
        left: 256px;
    }
    .circle2{
        top: 149px;
    right: 183px;
    }
    
    .circle3{
        bottom: 50px;
    left: 117px;
    }
    .high-school>.content>h2 {
        font-size: 22px;
    }
    .high-school>.content>h3 {
        font-size: 9.5px;
    }
    .higher-sec>.content2>h2 {
        font-size: 22px;
    }
    .higher-sec>.content2>h3 {
        font-size: 9.5px;
    }
    .college>.content3>h2 {
        font-size: 22px;
    }
    .college>.content3>h3 {
        font-size: 9.5px;
    }

    .high-school{
        top: 270px;
        left: 59px;
    }
    .higher-sec{
  
        top: 506px;
        left: 37vw;
    }
    .college{  
        top: 678px;
        right: 12px;
    }

    .work-container{
        height:1100px;
    }
    .project-parent{
        height:1000px;
    }
}
/* @media only screen and (max-width:768vw) {
    a img{
        width:70px;
        height: 40px;
    }
    .menu-items{
        position: fixed;
        left: -100%;
        top:5rem;
        flex-direction: column;
        background-color: #000814;
        gap:10px;
        height: auto;
        width:100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s ;
        box-shadow:
            0 10px 27px rgba(207, 237, 6, 0.05);
        padding:1.2rem;
    }
    .nav-btn{
        margin:auto;
    }
    .menu-items.active {
        left: 0;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .nav-link{
        margin: 0.5rem 0;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .banner-text>h1
    {
        font-weight: 400;
        font-size: 25px;
    }
    .banner-text>h2
    {
        font-weight: 400;
        font-size: 9px;
    }
    .banner-image> img {
        position: absolute;
        width: 38%;
        top: 65px;
        right: -33px 
    }
    .banner-image>.traingle{
        position: absolute;
        top: 135px;
        right: -181px;
        width: 0;
        height: 0;
        border: 240px solid transparent;
        border-top: 0;
        border-bottom: 300px solid rgb(47, 164, 238);
        transform: rotate(120deg);
        border-radius: 5px;
    }
    .banner-container>.banner-icons{
        display: flex;
        flex-wrap: wrap;
    }
    .img_move{
        width: 90px;
        height: 110px;
        position: absolute;
    }
    .image3{
        bottom:100px;
        animation: heart-anim 2.1s ease-in infinite;
    }
    
} */
/* @media only screen and (max-width:375vw) {
} */
